/*
  edit the dashboard css from the bootstrap theme
*/

/*
 * Sidebar
 */

/* Hide for mobile, show later */

  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    background-color: #f5f5f5;
  }


/* Sidebar navigation */
.nav-sidebar {
  margin-right: 0px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: 0px;
}

/* own edits on the page */

.nav>li>a {
    padding: 10px 5px;
    margin-top: 10px;
}

.nav-sidebar > li > a {

  margin-top: -17px;
  font-size: 12px;
}

.nav-sidebar > li > a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.border {
  border-bottom: dotted 1px  gray;
}

.navbar {
  margin-left: -31px;
  padding-top: 50px;
  background-color: #f5f5f5;
}

.row {
  /*padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;*/
}

.holder {
  padding: 10px;
}

.navbar-form {
  margin-top: 9px;
  border-radius: 0px;
  width: 350px;
  padding: 0;
  padding-left: 4px;
}

.gray {
  border: dotted 1px  gray;
  background-color: #f5f5f5;
  margin: 2px;

}

.gray ul {
  margin-top: 20px;
}

.gray li {
  padding: 3px;
}

.green {
  background-color: #e6ffe6;
  margin: 2px 2px 2px 15px;
  padding: 10px;
  border: 1px solid #adebad;
}

.panel {
  border-radius: 0px;
}

.green .panel {
  background-color: #e6ffe6;
  border-width: 0px;
}

.green .panel-heading {
  background-color: #adebad;
  border: 1px solid #adebad;
}

.panel-heading h4 {
  margin: -8px 0;
}

.blue {
  background-color: #e6ffff;
  margin: 2px 2px 2px 2px;
  padding: 10px;
  border: 1px solid #80ffff;
  width: 39%;
}

.blue .panel {
  background-color: #e6ffff;
  border-width: 0px;
}

.blue .panel-heading {
  background-color: #80ffff;
  border: 1px solid #80ffff;
}

.title {
  text-align: center;
}

.navbar-form input {
    padding-right: 150px;
}

.holder img {
  width: 15%;
  height: auto;
  padding: 5px;
}

#logo {
    padding-bottom: 40px;
}

#searchbutton {
  margin-left: -10px;
  border-left: 0px;
}

.purple {
  background-color: #ffb3ff;
  margin: 2px 2px 2px 15px;
  padding: 10px;
  border: 1px solid #ff66ff;
  width: 97.5%;
}

.purple .panel {
  background-color: #ffb3ff;
  border-width: 0px;
}

.purple .panel-heading {
  background-color: #ff66ff;
  border: 1px solid #ff66ff;
}

hr {
  background-color: black;
  height: 1px;
  margin-top: -10px;
}
